*__pycache__*
*.pyc
*.egg-info
*.DS_Store*
*.ipynb_checkpoints
*.coverage
*.bl
*postprocessing/cases/*.png
*postprocessing/cases/*.jpg
*postprocessing/cases/*.pdf
*postprocessing/cases/*.svg
*postprocessing/cases/*.eps
